@inherits LayoutComponentBase
<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <a class="navbar-item" href="http://rimmugygur.is">
            <img src="http://www.haukstaldir.de/wp-content/uploads/2014/05/Rimmugygur.png">
            <span class="title is-5">Þjálfi</span>
        </a>
        <BarToggler>
        </BarToggler>
    </BarBrand>
    
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="members">Members</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <LoginDisplay></LoginDisplay>
        </BarEnd>
    </BarMenu>
</Bar>



<section class="main-content columns is-fullheight section">
    <div class="container">
        @Body
    </div>
</section>









