@page "/members"
@attribute [Authorize]
@using RimmuTraining.WebApp.Domain.Members
@inherits OwningComponentBase<MembersService>

<div class="hero">
    <div class="hero-body is-primary">
        <div class="container">
            <h1 class="title">
                Members
            </h1>
            <h2 class="subtitle">
                Manage members and users
            </h2>
        </div>
    </div>
</div>


<div class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <div class="level-item">
            <AddMember OnAdd="@AddMember" />
        </div>
    </div>

</div>
<div class="list">
    @if (members != null)
    {
        @foreach (var member in members)
        {
            <a href="members/@member.Id" class="list-item">
                @member.Name

            </a>
        }
    }
</div>
@code {
    private List<Member> members;
    private List<User> unconnectedUsers = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        members = await Service.GetMembersAsync();
    }


    private void AddMember(Member member)
    {
        members.Add(member);
        members = members.OrderBy(m => m.Name).ToList();
    }

}
